.vertical-bar{
    position: relative;
}

.vertical-bar .fixed{
    display: block;
    background-color: var(--black);
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    z-index: 2;
    opacity: .3;
}

.vertical-bar .animed{
    transform: scaleY(0);
    width: 4px;
    background-color: var(--wp--preset--color--primary);
    display: block;
    position: absolute;
    left: calc(50% - 1.5px);
    top: 0;
    height: 100%;
    z-index: 3;
    transform-origin: top center;
}
